name: Build NPM Package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      # Label used to access the service container
      pse:
        image: invisirisk/pse:latest
        env:
        #  POLICY_AUTH_TOKEN: ${{ secrets.POLICY_AUTH_TOKEN }}
        #  POLICY_URL: https://api.github.com/repos/invisirisk/policy/tarball/main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # OPENAI_AUTH_TOKEN: ${{ secrets.OPENAI_AUTH_TOKEN }}
          PSE_DEBUG_FLAG: --alsologtostderr
          POLICY_LOG: t
          INVISIRISK_JWT_TOKEN: ${{secrets.INVISIRISK_JWT_TOKEN}}
          INVISIRISK_PORTAL: https://app.a.invisirisk.com/
    container:
      image: node:18-alpine
      options: --cap-add=NET_ADMIN
    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: invisirisk/pse-action@v1
      with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Checkout the code
      uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
